<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style2.css">
    <title>Document</title>
</head>
<body>
    <h1>Login to your OJ-TECH Account</h1>
    <p style="font-size: 1.5rem;">Welcome back Techie</p>
    <form action='/login' method="post">
      <fieldset>
        {{!-- <h3 style="color: brown;">{{msg}}</h3> --}}
        <label>Email: <input type="text" name="email" required /></label>
        <h3 style="color: brown;">{{msg}}</h3>
        <label>Password: <input type="text" name="password" required /></label>
      </fieldset>
      <a href="/register" style="color: wheat;">Don't Have an account? <span></span>Create one Here</a>

      <input type="submit" value="Login" /> 
    </form>
</body>
</html>

