<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tutors.css">
    <title>Document</title>
</head>
<body>
    
    <form action="/tutors">
    <div class="testimonials">
        <nav class="navbar">
            <h1>OJ-TECH</h1>
            <ul>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/dashboard">Home</a></li>
            </ul>
        </nav>
        <div class="inner">
            <!-- <h1 class="logo">OJ-TECH</h1> -->
            <h1>Tutors</h1>
            <div class="border"></div>

            <div class="row">

                <div class="col">
                    <div class="testimonial">
                        <img src="/images/fsTut_img (2).jpg" alt="">
                        <div class="name">Grant Melvin</div>
                        <div class="stars">
                            <i class="students"></i>
                        </div>
                        <p>Voracious full-stack web developer with 5+ years of experience and proven leadership and development skills. Looking to deliver development excellence at Roritany & Dreebs. Received a Webby in 2017 for a client site. Increased user experience scores by 27% at Coolacre Inc. At Nugatrode Inc., raised customer satisfaction scores 31%. Commended 4x by management for speed of completion.</p>
                    </div>
                </div>

                <div class="col">
                    <div class="testimonial">
                        <img src="/images/dtanTut_img (2).jpg" alt="">
                        <div class="name">Lizzy Cabello</div>
                        <div class="stars">
                            <i class="students"></i>
                        </div>
                        <p>Quick-minded computer science professional with 2 internships and several intensive projects. Seeking to solve problems for Sharon C. at Google with demonstrated skills in leadership and C#. Commended 5x by management at Pralucitronics for efficiency. Improved system resource usage for my branches by 25% through more efficient coding.</p>
                    </div>
                </div>

                <div class="col">
                    <div class="testimonial">
                        <img src="/images/grphTut_img (2).jpg" alt="">
                        <div class="name">Richard Polsen</div>
                        <div class="stars">
                            <i class="students"></i>
                        </div>
                        <p> Talented graphic designer with 5+ years of experience. Looking to provide design elegance for Timothy N. at Google through proven graphical skills.
                        At KISQ Inc., produced 340+ graphic design projects.
                        Slashed client costs 25% in 16 months through more efficient collaboration.
                            On team that received a 2018 Shopify Design Award.
                        </p>
                    </div>
                </div>

                <div class="col">
                    <div class="testimonial">
                        <img src="/images/dsciTut_img (2).jpg" alt="">
                        <div class="name">Brenda Williams</div>
                        <div class="stars">
                            <i class="students"></i>
                        </div>
                        <p>Efficient IT Project Management Professional with 5+ years of experience and strong vendor management skills. Seeking to improve cost, quality, and time at McBain-Bessey International. Slashed costs 23% at NSRB and trained 83 employees in Kaizen practices.</p>
                    </div>
                </div>

                <div class="col">
                    <div class="testimonial">
                        <img src="/images/cybTut_img (2).jpg" alt="">
                        <div class="name">Nathasha Miles</div>
                        <div class="stars">
                            <i class="students"></i>
                        </div>
                        <p>Reliable software engineer with 4 years of experience and demonstrated cloud computing skills. Seeking to deliver efficient code for HubSpot. At Inbilisoft Industrial, managed a team that received a Bossie in 2018. Used automated standards enforcement to slash breach risk 65%. Cut delivery times by 20%.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </form>
    
</body>
</html>