@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap'); 

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a:hover{
    background-color: #5d88d5;
}
.navbar h1{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 50px;
}
.navbar ul li a{
    padding: 10px 18px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.testimonials{
    padding: 40px 0;
    /* background: #f1f1f1; */
    color: #fff;
    text-align: center;
    width:100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.301)), url("../images/coursesbg_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;

}

.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial{
    background: rgb(58, 56, 56);
    /* z-index: 1; */
    padding: 30px;
}

.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars{
    color: #6ab04c;
    margin-bottom: 20px
}